CONFIG_ARM_QCOM_CPUFREQ_NVMEM=y
CONFIG_ARM_SMMU=y
CONFIG_ARM_SMMU_QCOM=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_BATTERY_QCOM_FG=y
CONFIG_CHARGER_QCOM_SMBCHG=y
CONFIG_BT_QCOMSMD=m
CONFIG_CFG80211=m
CONFIG_COMMON_CLK_QCOM=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_DMABUF_HEAPS_SYSTEM=y
CONFIG_DRM_MSM=y
CONFIG_EXTCON_QCOM_SPMI_MISC=y
CONFIG_HWSPINLOCK_QCOM=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_I2C_QUP=y
CONFIG_INPUT_PM8941_PWRKEY=y
CONFIG_INTERCONNECT_QCOM_MSM8953=y
CONFIG_LEDS_ATC=y
CONFIG_LEDS_QCOM_LPG=y
CONFIG_MAC80211=m
#CONFIG_MFD_QCOM_RPM=y
CONFIG_MFD_SPMI_PMIC=y
CONFIG_MMC_SDHCI_MSM=y
CONFIG_MSM_GCC_8917=y
CONFIG_MSM_GCC_8953=y
CONFIG_NVMEM_QCOM_QFPROM=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PINCTRL_MSM=y
CONFIG_PINCTRL_MSM8917=y
CONFIG_PINCTRL_MSM8937=y
CONFIG_PINCTRL_MSM8953=y
CONFIG_PINCTRL_QCOM_SPMI_PMIC=y
CONFIG_POWER_RESET_MSM=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_A53HFPLL=y
CONFIG_QCOM_A53PLL=y
CONFIG_QCOM_APCS_IPC=y
CONFIG_QCOM_APR=y
CONFIG_QCOM_BAM_DMA=y
CONFIG_QCOM_BAM_DMUX=y
CONFIG_QCOM_CLK_APCS_MSM8953=y
CONFIG_QCOM_CLK_SMD_RPM=y
CONFIG_QCOM_CPR4PD=y
#CONFIG_QCOM_GSBI=y
CONFIG_QCOM_IPA2_LITE=y
CONFIG_QCOM_IOMMU=y
CONFIG_QCOM_MEMSHARE_QMI_SERVICE=y
CONFIG_QCOM_Q6V5_MSS=y
CONFIG_QCOM_Q6V5_PAS=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_RPMPD=y
CONFIG_QCOM_SCM=y
CONFIG_QCOM_SMD_RPM=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMP2P=y
CONFIG_QCOM_SMSM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_SPMI_VADC=y
CONFIG_QCOM_TSENS=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_QCOM_WCNSS_PIL=y
CONFIG_QCOM_WDT=y
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_REGULATOR_QCOM_SMD_RPM=y
CONFIG_REGULATOR_QCOM_SPMI=y
CONFIG_RPMSG_QCOM_SMD=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_SERIAL_MSM=y
CONFIG_SERIAL_MSM_CONSOLE=y
CONFIG_SND_SOC_APQ8016_SBC=y
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=y
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=y
CONFIG_SND_SOC_QCOM=y
CONFIG_SND_SOC_QDSP6=y
CONFIG_SND_SOC_QDSP6_Q6VOICE=y
CONFIG_SPI_QUP=y
CONFIG_SPMI_MSM_PMIC_ARB=y
CONFIG_USB_CHIPIDEA=y
CONFIG_USB_DWC3_QCOM=y
CONFIG_VIDEO_QCOM_CAMSS=y
CONFIG_VIDEO_QCOM_VENUS=y
CONFIG_WCN36XX=m

## This breaks booting, which is enabled from gki_defconfig
# CONFIG_UNWIND_PATCH_PAC_INTO_SCS is not set
