# ACPI
CONFIG_ACPI=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DMI
CONFIG_DMI=y

# DRM
CONFIG_DRM_VIRTIO_GPU=y

# EFI
CONFIG_EFI_STUB=y
CONFIG_EFI_GENERIC_STUB_INITRD_CMDLINE_LOADER=y

# HW random
CONFIG_HW_RANDOM_VIRTIO=y

# Sound
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_INTEL8X0=y
CONFIG_SND_VIRTIO=y

# VirtIO
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
