CONFIG_AK8975=y
CONFIG_BMI160=y
CONFIG_BMI160_I2C=y
CONFIG_DRM_PANEL_XIAOMI_TD4310_FHDPLUS_E7=y
CONFIG_IIO_ST_LSM6DSX_I2C=y
CONFIG_IIO_ST_LSM6DSX=y
CONFIG_LEDS_AW2013=y
CONFIG_LTRF216A=y
CONFIG_RMI4_CORE=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_I2C=y
CONFIG_TOUCHSCREEN_NT36XXX=y
CONFIG_VIDEO_OV5675=y
