CONFIG_BACKLIGHT_PWM=y
CONFIG_CHARGER_BQ256XX=y
CONFIG_BATTERY_BQ27XXX=y
CONFIG_BATTERY_CW2015=y
CONFIG_CHARGER_SMB347=y
CONFIG_EXTCON_USB_DUMMY=y
CONFIG_INPUT_GPIO_VIBRA=y
CONFIG_IR_GPIO_TX=y
CONFIG_LEDS_AW2013=y
CONFIG_REGULATOR_TPS65132=y
CONFIG_TOUCHSCREEN_EDT_FT5X06=y
CONFIG_TOUCHSCREEN_GOODIX=y

CONFIG_DRM_PANEL_XIAOMI_LAND_HX8394F_BOE=y
CONFIG_DRM_PANEL_XIAOMI_LAND_ILI9881C_TIANMA=y
CONFIG_DRM_PANEL_XIAOMI_LAND_NT35521S_EBBG=y
CONFIG_DRM_PANEL_XIAOMI_RIVA_HX8394F_BOE=y
CONFIG_DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBGDJN=y
CONFIG_DRM_PANEL_XIAOMI_RIVA_ILI9881C_EBBG=y
CONFIG_DRM_PANEL_XIAOMI_RIVA_ILI9881C_TIANMA=y
CONFIG_DRM_PANEL_XIAOMI_SANTONI_HX8394F_BOE=y
CONFIG_DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBGDJN=y
CONFIG_DRM_PANEL_XIAOMI_SANTONI_ILI9881C_EBBG=y
CONFIG_DRM_PANEL_XIAOMI_UGGLITE_ILI9881C_SC=y
CONFIG_DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_HX=y
CONFIG_DRM_PANEL_XIAOMI_UGGLITE_OTM1901A_TM=y
