# ATA
CONFIG_ATA=y
CONFIG_ATA_PIIX=y
CONFIG_SATA_AHCI=y

# Block device
CONFIG_BLK_DEV_SR=y

# DMA BUF
CONFIG_DMABUF_HEAPS_SYSTEM=y

# DRM
CONFIG_DRM_VMWGFX=y
CONFIG_DRM_VMWGFX_FBCON=y

# EFI
CONFIG_EFI_STUB=y

# Filesystem
CONFIG_ISO9660_FS=y

# Fusion MPT
CONFIG_FUSION=y
CONFIG_FUSION_SPI=y

# Mouse
CONFIG_MOUSE_PS2=y

# Network
CONFIG_E1000=y
CONFIG_VIRTIO_NET=y

# Sound
CONFIG_SND_ENS1371=y
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_INTEL8X0=y

# USB
CONFIG_USB_OHCI_HCD=y

# Virtualization
CONFIG_VIRT_DRIVERS=y

# VirtualBox
CONFIG_VBOXGUEST=y
CONFIG_VBOXSF_FS=y

# VMware
CONFIG_VMWARE_BALLOON=y
CONFIG_VMWARE_VMCI=y
